{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Ironman</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit fuga quam repellendus id itaque, explicabo dolorum sint ipsum possimus expedita! Quia non earum minima autem corrupti eius repellendus ex pariatur.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/ironman.png" alt="iron_man" class="img-thumbnail">
    </div>

</div>

{{> footer}}